uk-datepicker-input material-input {
  display: block; }
  uk-datepicker-input material-input.uk-datepicker-focus span.material-bar:after {
    width: 50%; }
  uk-datepicker-input material-input.uk-datepicker-focus span.material-bar:before {
    width: 50%; }
  uk-datepicker-input material-input.uk-datepicker-focus label {
    color: #d9d9d9 !important;
    font-size: 13px !important;
    top: 0 !important;
    line-height: 24px !important; }
  uk-datepicker-input material-input > uk-dropdown {
    margin-top: 56px;
    width: auto !important;
    background: transparent !important;
    padding: 15px 0px !important; }
    uk-datepicker-input material-input > uk-dropdown > uk-calendar {
      background-color: #FFF; }

/*# sourceMappingURL=uk-datepicker-input.css.map */
