<div class="material-input input" ng-class="{'uk-input-error': !vm.isValid()}">
    <input type="text" id="{{vm.identifier}}" name={{name}}  maxlength="{{maxLength}}" ng-model="vm.viewValue" ng-change="vm.onChange(vm.viewValue)" ng-focus="vm.onFocus()" ng-blur="vm.onBlur()" ng-class="{'filled': vm.isFilled()}">
    <span class="material-bar"></span>
    <label for="{{vm.identifier}}">{{placeholder}}</label>
</div>
<small class="error filled uk-align-left" ng-if="!vm.isValid() && vm.errorLabel">
	{{vm.errorLabel}}
</small>